<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalkulator Sederhana dengan Vue.js</title>
    <style>
        .calculator {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
            max-width: 200px;
            margin: 0 auto;
            text-align: center;
        }

        .calculator input {
            grid-column: span 4;
            text-align: right;
            padding: 10px;
        }

        .calculator button {
            padding: 15px;
            font-size: 18px;
        }
    </style>
</head>

<body>
    <div id="app" class="calculator">
        <input type="text" v-model="expression" disabled>
        <br>
        <button v-for="button in buttons" :key="button" v-on:click="handleButtonClick(button)">{{ button }}</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="vue.js"></script>
</body>

</html>
